<!DOCTYPE html>
<html>
<head>
    <title>Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <div class="container mt-5">
        <div class="row first-row">
            <div class="col-md-9">
                <h2 class="text-center">Select Input Devices</h2>
                <p class="text-center sel-p">In the next step, you will select output devices</p>
            </div>

            <div class="col-md-3">
                <div class="progress mt-2">
                    <div class="progress-bar" style="width: 40%;">40%</div>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-theme product-carousel mt-5">
            <div class="item">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                           <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                            <!-- <img class="img-fluid" alt="apple" src="assets/images/apple.jpg"> -->
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>
                </div>

            </div>

            <div class="item">

                <div class="row">
                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                          <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                            <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                        </a>

                    </div>
                </div>

            </div>

        </div>

        <a href="two.html" class="btn btn-info mx-auto d-block custom-btn mb-5  mt-5">Next</a>

    </div>


    <script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>


    <script>

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            navText: ["<i class='fa fa-arrow-left'></i>", "<i class='fa fa-arrow-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


</body>
</html>
