<!DOCTYPE html>
<html>
<head>
    <title>Write Creative Scenario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>
<body>

    <div class="container mt-5">
        <div class="row first-row">
            <div class="col-md-9">
                <h2 class="text-center mbt-20">Create a Scenario</h2>
            </div>

            <div class="col-md-3">
                <div class="progress mt-2">
                    <div class="progress-bar" style="width: 80%;">80%</div>
                </div>
            </div>
        </div>

        <div class="row mt-5">

            <div class="col-md-3 mar-p">
                <p class="in-block">your selected<span class="br-block"></span> input devices</p>
                <span class="fa fa-arrow-right custom-fa"></span>
            </div>

            <div class="col-md-9">
                <div class="mdb-lightbox product-carousel selected-list">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                                <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                                <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row mt-5">

            <div class="col-md-3 mar-p">
                <p class="in-block">your selected<span class="br-block"></span> output devices</p>
                <span class="fa fa-arrow-right custom-fa"></span>
            </div>

            <div class="col-md-9">

                <div class="mdb-lightbox product-carousel selected-list">

                    <div class="row">

                        <div class="col-md-4">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                                <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                                <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                            </a>
                        </div>

                        <div class="col-md-4">

                            <a href="#" data-toggle="tooltip" data-placement="top" title="This is date/time service">
                                <img src="{{ url_for('static', filename='images/apple.jpg') }}" class="img-fluid" alt="apple">
                            </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row mt-5">

            <div class="col-md-3 mar-2">
                <p class="in-block">Create a scenario that comprises of the selected devices above</p>
            </div>

            <div class="col-md-9">

                <textarea id="textbox" class="form-control custom-textarea" rows="8"></textarea>

            </div>

        </div>

        <div class="row mt-5">
            <div class="col-md-3 mar-2">
                <p class="in-block">Categorize your scenario</p>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <select class="browser-default ctr-input-2">
                        <option value="1">Energy Saving</option>
                        <option value="2">Thermostat</option>
                        <option value="3">Smart Lock</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row first-row">
            <div class="col-md-9">
                <h2 class="text-center mbt-20">Demographics</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <p class="tr-right m-7">Family Size (Numeric)</p>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <select name="familySize" id="familySize" class="form-control ctr-input" required>
                        <option value="" selected></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="tr-right m-7">Smart Home Experience (Months)</p>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <input name="smartHomeXP" id="smartHomeXP" class="ctr-input form-control" type="text" required placeholder="How many months of experience do you have as a user of IoT products?">
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4">
                <p class="tr-right m-7">Programming Experience</p>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <select class="ctr-input form-control" name="porgammingXP" id="porgammingXP" required>
                        <option value="" selected></option>
                        <option value="1">Beginner</option>
                        <option value="2">Intermediate</option>
                        <option value="3">Experience</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="tr-right">Gender</p>
            </div>

            <div class="col-md-8">
                <div class="form-group ctr-last">
                    <label class="radio-inline mr-3">
                        <input class="ctr-last-group-1" type="radio" name="gender" required value="1">Male
                    </label>

                    <label class="radio-inline">
                        <input class="ctr-last-group-2" type="radio" name="gender" required value="2">Female
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-info mx-auto d-block custom-btn mb-5  mt-5" id="btn">Submit this task</button>


    </div>

    <p style="color: white;">Unique Words: <span id="num_unique_word"></span></p>
    <p style="color: white;">Difficult Words: <span id="num_difficult_word"></span></p>

    <script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>

    <script type="text/javascript">

      var socket;
     $(document).ready(function(){
         var namespace = '/creastimate_chat';
         socket = io.connect(location.protocol + '//' + document.domain + location.port + namespace);
         console.log(location.protocol + '//' + document.domain + location.port + namespace);
         // socket = io.connect('https://' + document.domain + ':' + location.port + '/creastimate_chat');

        //  socket.on('receive_data', function(data) {
        //     alert('creativity score was: ' + data.creativity);
        //     });
        //
        // $('button').click(function(){
        //     var t =document.getElementById('num_unique_word').innerText.split(" ");
        //     var numOfUniqueWords =t[0];
        //     t =document.getElementById('num_difficult_word').innerText.split(" ");
        //     var numOfDifficultWords =t[0];
        //     var smartHomeXP =document.getElementById('smartHomeXP').value;
        //     var e = document.getElementById("familySize");
        //     var familySize = e.options[e.selectedIndex].value;
        //     //var data ='{' + '"numOfUniqueWords" :' + numOfUniqueWords + ', "numOfDifficultWords" :' + numOfDifficultWords + ', "smartHomeXP" :' + smartHomeXP + ', "familySize" :' + familySize + '}'; //need to send this string along with the demographics to the python script
        //     //alert(data);
        //     socket.emit('send_data', { numOfUniqueWords:numOfUniqueWords, numOfDifficultWords:numOfDifficultWords, smartHomeXP:smartHomeXP, familySize:familySize });
        //     // $.post("stable.php", { numOfUniqueWords:numOfUniqueWords, numOfDifficultWords:numOfDifficultWords, smartHomeXP:smartHomeXP, familySize:familySize }, function(data, status){
        //     //     alert("Data: " + data + "\nStatus: " + status);
        //     // });
        //
        //     });
        });

        // $("button").click(function(){
        //   alert("The paragraph was clicked.");
        // });

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: ["<i class='fa fa-arrow-left'></i>", "<i class='fa fa-arrow-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    <script type="text/javascript" src="{{url_for('static', filename='wc/jquery_003.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='wc/script.js')}}"></script>
</body>
</html>
